[2015-11-22 00:05] bypit opened #1 "Limitation of friendships"
Is it possible to add a Limitation of friendships to the package. I mean e.g. that user (A) can only have 10 Friends and User (B) 20. And the Limitations saved in DB

If you can add this, I would be really happy about that

[2015-11-22 17:49] hootlex commented on #1
Hmm that's an interesting but tricky feature.
Say for example that a user has a limit of 10 friends, he already has 7 friends 4 pending requests and another user wants to sent him a friend request, what do you expect to happen?

[2015-11-24 05:52] imanghafoori1 opened #2 "Any use case or samples ?"
It is dead simple to understand and sounds great.
But I can not imagine where and when it is useful...
Could you provide a sample app leveraging this nice package ?

[2015-11-24 11:48] IngwiePhoenix opened #3 "Change friendship db table name?"
Hey.

I just was curios and wanted to ask, if it was possible to change the table name of the friendships without having to extend the model and creating a custom migration? Its no big deal if not, but I thought I'd bring it up anyway ^^.

Kind regards, Ingwie

[2015-11-24 18:25] hootlex commented on #2
This package is useful to any project that needs users to have friends. For example in a forum app you can let your users be friends with each other  and then they can see their friends activities, or they can send messages with their friends or anything else you would like to implement in your app.

If you want to see the package in use feel free to check the test file.

[2015-11-24 18:25] #2 closed

[2015-11-24 18:30] hootlex commented on #3
Hi,
I can add a config file so you can change the database table but I don't think there are other options to configure that's why I have not done it already.

I will check it out when I have some free time,
Thanks for your feedback.

[2015-12-29 09:23] mrandibilbao opened #4 "getPendingFriendships() does fetch all frindschips"
Hi,

there is a Problem with getPendingFriendships().
Everytime i use this method, it returns also accepted and blocked Friendships.

So i have to call
[code]

Or is there an error in my code?

Thanks for this package, it's absolutely amazing

[2015-12-29 13:00] hootlex commented on #4
Hey,

getPendingFriendships method returns all
friend requests sent by a user and have not been yet accepted or denied.

In which case do you need to get all the pending friendships including those where the recipient is the user?

[2015-12-29 13:14] mrandibilbao commented on #4
Hi,

I want to show the logged in user, who has sent a request to him/her.
but this little workouround i wrote above, is working fine

[2015-12-29 13:16] mrandibilbao commented on #4
oh sorry, i have not seen getFriendRequests yet, i'm so sorry
have a nice day

[2015-12-29 13:22] #4 closed

[2015-12-29 13:25] hootlex commented on #4
No problem :)

[2016-01-13 17:50] darkweb2015 opened #5 "A little help here!"
I have been using this friends package with an app i am trying to build.  As a sender, I can send a friend request to a recipient, log in as a recipient and accept the request.

From the sender end, I can list the list of friends he sent the request to and build the list of friends using the getAcceptedFriendships() method, looping through the results and getting the recipient details.  However wh

[2016-01-14 00:52] hootlex commented on #5
Can you post an example of the recipient's friendships data?

[2016-01-14 19:32] Advil-Robin opened #6 "Reciprocal friendship"
Hi,

I have an idea/question...

So I acctually want to use this package, but I kinda need something you get 'reciprocal friendship'. So something like Facebook has:

I sent a friendshiprequest to user B.

User B accepts the friendship and now we both have each other in our friends list. Because I sent the request, I want to be a friend, and he accepts it, so we both are friends. Any idea how I ca

[2016-01-14 22:19] hootlex commented on #6
Hello Robin,
It should work this way. I will check it out.

[2016-01-14 23:55] hootlex commented on #6
As I can see this is the default behaviour of a Friendship.

For example:
[code]
Now `$sender->getAcceptedFriendships()` returns
[code]

And `$recipiend->getAcceptedFriendships()` returns the same
[code]

[2016-01-15 08:48] wuer opened #7 "Status is ignored in Friendable::findFriendships"
Hi!
I think u have mistake in Friendable::findFriendships.
When I use method: Friendable::getPendingFriendships it should return all friendships with status=0 but it also return friendships with status=1.

    /**
     * @param $status
     *
     * @return \Illuminate\Database\Eloquent\Collection
     */
    private function findFriendships($status = '%')
    {
        return Friendship::where('s

[2016-01-15 09:38] darkweb2015 commented on #5
HI Alex,

Below is single data that I have in the friendships table.

id,sender_id,sender_type,recipient_id,recipient_type,status,created_at,updated_at
1,3,User,	9,User,1,2016-01-10 21:29:55,2016-01-10 21:31:18

In my code, when logged in as the sender (user id 3), I am currently looping through the array to the users friends with the code below:

[code]

If i log in as the recipient, the above co

[2016-01-15 12:39] hootlex commented on #5
Hi,

try to run the tests to see if everything works as expected.

In your project root directory run this
`vendor/bin/phpunit vendor/hootlex/laravel-friendships/tests/`

[2016-01-15 14:04] hootlex commented on #7
You are right. I will fix this asap.

Thanks!

[2016-01-15 14:42] darkweb2015 commented on #5
This is the error i am getting:

Fatal error: Call to undefined function createuser() in C:\xampp\htdocs\myapps\alternivelifestylers\vendor\hootlex\laravel-friendships\tests\FriedshipsTest.php on line 15

[2016-01-15 17:12] Advil-Robin commented on #6
So, how would I be able to display everything and check if the persons are already friends?

[2016-01-15 20:41] hootlex commented on #6
The `isFriendWith` expects a model as a parameter not an integer. In order to check if two users are friends you have to use it this way:

[code]

[2016-01-15 22:10] hootlex commented on #5
Edit vendor\hootlex\laravel-friendships\tests\FriedshipsTest.php and add the above function at the bottom.

[code]

[2016-01-15 23:14] hootlex commented on #7
This bug is fixed in v1.0.7

[2016-01-15 23:14] #7 closed

[2016-01-15 23:15] #1 closed

[2016-01-15 23:43] hootlex commented on #6
I will implement a `getFriends` method which will return all User friends instead of returning Friendship objects.

[2016-01-16 08:51] Advil-Robin commented on #6
It worked. Could you maybe also implement a function that checks if a user has a pending request of another user?

Something like

[code]

The Auth returns the current user id and the $userdata->UID is the ID of the users profile i'm watching on.
This would be handy for me like if a users has a pending request, of user X, I can display a cancel button to cancel the request.

[2016-01-16 12:25] hootlex commented on #6
Checking friendship status between two users can be easily done via `getFriendship()`.

example:
[code]
`$friendship` is an instance of Friendship.
[code]

[2016-01-16 12:37] Advil-Robin commented on #6
I found something else (made some new code in your package).

But when I try to count how many friends someone has, it returns 1 already on the requested friend.

So Current friends:  User A: 0 User B: 0.

When user B request a friendship to user A, User A has 1 friend (not accepted yet) and user B has 0 friends. Code that I'm using:

[code]

I don't know how I can use it in any other way?

[2016-01-16 12:55] hootlex commented on #6
Maybe you are using an old version. This is fixed in v1.0.7.

Also I have added `$user->getFriends()` in v1.0.8!

[2016-01-16 12:59] Advil-Robin commented on #6
Cool! Now this works like a charm! Thanks for adding my requested features! If you need any help, just give me a shout :smile:

[2016-01-16 13:05] hootlex commented on #6
Thanks! :)

[2016-01-16 13:05] #6 closed

[2016-01-21 01:48] hootlex commented on #5
@darkweb2015 did u solve the issue?

[2016-01-21 13:08] darkweb2015 commented on #5
Hi alex, sorry for taking  a while. Yeah I managed to resolve the isssue .  Implemented  a small code change on my end and resolved it.

[2016-01-21 21:17] hootlex commented on #5
No problem :)

[2016-01-21 21:17] #5 closed

[2016-01-22 02:12] CoderFetch opened #8 "Find a friendship/request for a user by ID"
Hey, is there any way to get a friendship or request with a given ID for a given user? (Needs to be two-way)

What I mean:
[code]

[2016-01-22 02:14] CoderFetch commented on #8
[code]

That's what I meant to say. Is something like this possible and could it be added?

[2016-01-22 21:15] hootlex commented on #8
You can query any friendship by using `Friendship` model.

[code]

[2016-01-22 21:15] #8 closed

[2016-01-26 15:34] elsodev opened #9 "pagination"
Hi, awesome package. just one thing

How do I do pagination when a user has a lot of friends.
[code]

Thanks

[2016-01-26 15:37] elsodev commented on #9
Hi, also is there away to limit getFriends() and the other methods too?
$user->getFriends(5);

[code]

[2016-01-26 19:29] Advil-Robin commented on #3
You can change the names in de core files of the plugin, but I don't recomment that...

[2016-01-26 21:03] hootlex commented on #9
Hello,

All the methods like `getFriends`, `getAcceptedFriendships`, etc. are based on `findFriendships` method which is a private method of `Friendable` trait.

If I make it public then you will be able to use:
[code]

But you still wont be able to paginate `getFriends` method results, since it does not return a query builder but a collection of friends.

Let me know if this solves your problem.

[2016-01-27 03:29] elsodev commented on #9
@hootlex ok, i have made a pr. check it out.

[2016-01-27 03:29] #9 closed

[2016-02-23 05:06] computerfr33k opened #11 "[bug] User sending the friend request can accept it to be friends"
There is a bug with your sql statements that allows the person sending the friend request to accept it because it uses the findFriendship method.

[code]
uses
[code]

The problem is that this method returns the row if the recipient is either the sender OR the recipient. (if that makes sense). And so, this allows the sender to then accept it since it is matching either them as the sender OR the rec

[2016-02-23 17:50] hootlex commented on #11
This was not an sql bug.
I assumed that you wont run `acceptFriendship` this way.

Anyway, I fixed it in [v1.0.9](https://github.com/hootlex/laravel-friendships/releases/tag/v1.0.9)
thanks!

[2016-02-23 17:50] #11 closed

[2016-02-26 11:49] VitoFamiglietti opened #12 "Friendship always accepted"
When I send a friendship request to a model, when I check if a model is friend with another (using $user->isFriendWith($recipient), it will return me always true, even if the request is still pending.

[2016-02-26 14:35] Advil-Robin commented on #12
Got the same issue here.

[2016-02-26 17:18] hootlex commented on #12
That's weird. Which version do you use guys?

The tests show that it is working correctly on v1.0.9

![](http://i.imgur.com/BKjGiQd.png)

[2016-03-03 03:32] hootlex commented on #12
@Advil-Robin @VitoFamiglietti is this still an issue?

[2016-03-03 17:09] VitoFamiglietti commented on #12
Yes, when I dd it still returns me true even if the friendship is still
pending
Il giorno gio 3 mar 2016 alle 04:32 Alex Kyriakidis <
notifications@github.com> ha scritto:

[2016-03-03 18:14] hootlex commented on #12
Which version of the package do you use?
Στις 3 Μαρ 2016 19:09, ο χρήστης "Vito" <notifications@github.com> έγραψε:

[2016-03-03 18:16] VitoFamiglietti commented on #12
the dev version. i guess the 1.9

Il giorno gio 3 mar 2016 alle ore 19:14 Alex Kyriakidis <
notifications@github.com> ha scritto:

[2016-03-03 18:19] hootlex commented on #12
Have you tried to update the package?
Στις 3 Μαρ 2016 20:16, ο χρήστης "Vito" <notifications@github.com> έγραψε:

[2016-03-04 09:32] VitoFamiglietti commented on #12
Yes, and it seems works now. Thanks :)

Il giorno gio 3 mar 2016 alle ore 19:19 Alex Kyriakidis <
notifications@github.com> ha scritto:

[2016-03-04 18:29] hootlex commented on #12
Good :)

[2016-03-04 18:29] #12 closed

[2016-03-12 19:09] Tiaan1 commented on #3
Hi, i am still new to Laravel and found this awesome package, However a new friend request returns this on the profiles..

[{"id":2,"sender_id":3,"sender_type":"App\\User","recipient_id":1,"recipient_type":"App\\User","status":0,"created_at":"2016-03-12 18:42:10","updated_at":"2016-03-12 18:42:10"}]

How do i get the relevant user for instance the sender id is 3 but i want to display his name how

[2016-03-12 19:10] Tiaan1 opened #17 "Sender Names"

[2016-03-12 19:19] Tiaan1 commented on #17
Never mind, found a solution to my problem :)

[2016-03-12 19:35] #17 closed

[2016-03-14 08:25] Tiaan1 opened #18 "denyFriendRequest"
Hi There,

So if one of my users sent a friend request to another and the user denies the friend request it turns the status to 2 in database, however shouldn't the user have the option to resend the friend request again? this is not working, as soon as the status is set to 2 the user cannot send any more friend request to specific user.

[2016-03-14 09:03] Tiaan1 commented on #18
i have managed to delete the record in database with `$denyFriend = FriendShip::whereSenderIdAndRecipientId($recipient->id, $sender->id); `however when i use the build in "denyFriendRequest" and the user declines the request the user's is unable to resend the requests.

Please look into this :)
btw, thanks for a awesome package! :+1:

[2016-03-14 19:58] hootlex commented on #18
I hadn't decide if I want to let users send friend requests again after the first is denied.
I enabled this feature in **v1.0.13**.

btw you can delete a friendship using `unfried()` method.

[code]

[2016-03-14 19:58] #18 closed

[2016-03-15 04:41] Tiaan1 commented on #18
Perfect :+1: thanks allot. this is great! i will be installing the new package soon :)

[2016-03-15 05:48] Tiaan1 commented on #9
In Friendable.php find the following method `public function getFriends($perPage = 8)
    {
        if ($perPage == 0) {
            return $this->getFriendsQueryBuilder()->get();
        } else {
            return $this->getFriendsQueryBuilder()->paginate($perPage);
        }
    }`

and set the $perPage = amount you would like to paginate and call  `{{ $user->getFriends()->render() }}` on the p

[2016-04-29 01:32] vedmant opened #20 "Use Eloquent::getMorphClass() intead of get_class($model)"
Because you can set morph maps  https://laravel.com/docs/5.2/eloquent-relationships#polymorphic-relations

        Relation::morphMap([
            'users'        => \App\Models\User::class,
        ]);

[2016-04-29 01:37] vedmant opened #21 "Feature request: get friends of friends"
This would be really helpful to have, but this is quite complex task with your current DB structure, it's much easier to use two way relation for this, means for each friendship there are two records user_one => user_two and user_two => user_one, this will make complex queries much simpler.

[2016-04-29 21:43] hootlex commented on #20
Could you make a pr?

[2016-05-02 09:04] hootlex commented on #21
This is a very interesting feature.
Thus, I don't like the idea of having 2 records for each friendship. Why do you think that it can't be done with the current db structure?

[2016-05-02 10:24] vedmant commented on #21
Probably it can be done, but it's much easier with two way relationships. I can share query for that DB structure.

[2016-05-02 15:48] hootlex commented on #21
Sure, show me what you have in mind.

The query with the current db structure will be something like this:

[code]

I am working on your request :)

[2016-05-02 18:09] vedmant commented on #21
Yes, something like this, you also need to exclude your direct friends and yourself.
I made it this way, with two ways DB structure, might be not perfect:

    /**
     * Get friends of friends
     *
     * @param $user
     * @return mixed
     */
    public static function friendsOfFriends($user)
    {
        $ids = Friend::whereIn('user_id', function ($query) use ($user) {
            $query-

[2016-05-02 18:13] hootlex commented on #21
Sure the user and his friends have to be excluded.
I have done it already, I will push in a while.

Both ways I think you have to do 2 queries.

[2016-05-02 21:18] hootlex commented on #21
I have added this feature in v1.0.15.
You can check my query builder [here](https://github.com/hootlex/laravel-friendships/commit/5b722996e5f1a3c60d4c92c0127206e194af9547#diff-1cda386c211a2fff2195704a0af84dbdR306).

Thanks for the suggestion.

[2016-05-02 21:18] #21 closed

[2016-05-02 21:20] vedmant commented on #21
Cool, you're welcome!

[2016-05-03 12:58] perffy opened #24 "acceptFriendRequest / denyFriendRequest does not work"
Hi guys,

i have successfully installed the package, but unfortunately i cannot use those functions. The send request and the block functions are working so i think the problem comes from the update() method:

public function acceptFriendRequest(Model $recipient)
    {
        return $this->findFriendship($recipient)->whereRecipient($this)->update([
            'status' => Status::ACCEPTED,

[2016-05-03 21:58] hootlex commented on #24
HI @perffy,
What is your issue exactly?

[2016-05-03 23:58] perffy commented on #24
Hi @hootlex,

if i send a friend request i cannot accept/deny it. The method does not change the status in the database.

[2016-05-04 00:00] hootlex commented on #24
What version of Laravel do you use?

[2016-05-04 00:00] perffy commented on #24
5.2

[2016-05-04 00:02] hootlex commented on #24
Please share your code representing this issue here.

[2016-05-04 00:03] perffy commented on #24
This is how i accept a friend request:

public function accept_request($userToBeFriendsWith) {

		$user = User::findOrFail($userToBeFriendsWith);
		$this->user->acceptFriendRequest($user);

		return redirect()->back();

	}

[2016-05-04 00:07] perffy commented on #24
The $user is of the User class, which is defined as:

class User extends Authenticatable
{
	use Friendable;
        ....
}

[2016-05-04 00:45] hootlex commented on #24
Is there a friendrequest in you database when you are trying to accept it?

[2016-05-04 01:01] hootlex commented on #24
I've create a fresh Laravel 5.2 project and all the tests are passing..

Create a function to test the package like this:

[code]

The above code should return 'True'

[2016-05-04 12:42] perffy commented on #24
hi @hootlex,
it was late at night, so the mistake was mine. i was trying to accept my own request, thats why it was not working. I mean the sender and recipient id was the same :)
Thanks !

[2016-05-04 17:05] hootlex commented on #24
You are welcome :)

[2016-05-04 17:05] #24 closed

[2016-05-18 10:17] davidavz opened #25 "PostgreSQL findFriendships method issue"
I'm using this package with PostgreSQL and this is my error when i call `findFriendships()` method

[code]

It seems that we can't use the `LIKE` operator on a smallint column type isn't it?

[2016-05-20 20:48] hootlex commented on #25
I haven't test the package with PostgreSQL yet, I'll do it when I find some time and try to fix it.
Sorry for my late response, I was on vacation :)

[2016-05-23 03:04] hootlex commented on #25
To achieve compatibility with PostgreSQL I've entirely removed LIKE operator from the query.
[V1.0.16](https://github.com/hootlex/laravel-friendships/releases/tag/v1.0.16) can be used with PostgreSQL. Thanks.

[2016-05-23 03:04] #25 closed

[2016-06-01 20:04] vedmant commented on #20
Sorry for late response. Yes, sure, let me do this.

[2016-06-01 23:48] hootlex commented on #20
Sure, no problem :)

[2016-06-01 23:48] #20 closed

[2016-06-06 17:37] nikolaynesov opened #27 "Friendship types"
Hi,
Is there any way to set friendship type like "Close friends/Friends/Connections". I guess it requires an extra integer pivot table column like "type"? Or is there a better approach?

[2016-06-06 18:13] hootlex commented on #27
Hey, no it sounds like a good solution :)

[2016-06-06 19:34] nikolaynesov commented on #27
Ok thanks. I will fork your repo then if you are not going to add this :)

[2016-06-06 20:32] hootlex commented on #27
Sure. If you follow the current structure (class names, tests, etc) I'll be happy to accept a pr! :)

[2016-06-06 20:32] #27 closed

[2016-06-17 11:17] spongi07 opened #28 "FriendshipsTest::user_can_send_a_friend_request BadMethodCallException: Call to undefined method Illuminate\Database\Query\Builder::befriend()"
When testing the application im getting de following error:

`There were 21 errors:

1) FriendshipsTest::user_can_send_a_friend_request
BadMethodCallException: Call to undefined method Illuminate\Database\Query\Builder::befriend()

/public_html/laravel/vendor/laravel/framework/src/Illuminate/Database/Query/Builder.php:2306
/public_html/laravel/vendor/laravel/framework/src/Illuminate/Database/Eloqu

[2016-06-17 18:37] spongi07 commented on #28
It fixed the problem.. but i got a last question maybe a stupid one.. I wanna attach the test project to my own project and im kind of new to laravel and composer.. Is there a wiki or how to, to get this working in my project.. I'm trying to understand both but i cant get any further..

[2016-06-17 19:45] spongi07 commented on #28
Thanks mate!

[2016-06-17 19:46] hootlex commented on #28
no problem :)

[2016-06-17 19:46] #28 closed

[2016-06-28 22:05] masterix21 opened #29 "If i block an user, next all befriend request will create duplicates"
I tried to use your package and i think that you've done a good work, but i found a bug (i think).

TEST CASE: user "$manOne" (model User) isn't friend with "$girlTwo" (model User)
`
$manOne->blockFriend($girlTwo);
$manOne->befriend($girlTwo);
$manOne->befriend($girlTwo);
$manOne->befriend($girlTwo);
`

If you see database table, you'll find 4 rows. I know is not normal a block to non-friend user,

[2016-06-28 22:33] hootlex commented on #29
Hmm, hypothetical a user shouldn't send a friend request to a user who has blocked, before unblocking him first. But in case it happens, the duplicate rows is definitely a bug. :)

In your use case it should be:

[code]

I will update the package, so when a user sends a friend request to a user who has blocked, it will automatically unblock him.

[2016-06-29 00:05] hootlex commented on #29
Resolved in v1.0.18

[2016-06-29 00:05] #29 closed

[2016-06-29 15:51] masterix21 opened #30 "Starred friendships"
Hi,

have you already thought to develop the starred friendship? For example, i have a list of 100 or more friends, but only 10 of them are starred (also know like bookmark/favourite).

Thanks

[2016-06-29 18:00] hootlex commented on #30
Hi,
I don't think it's necessary to have this feature out of the box. I don't like the idea of having a null column in all friendships (pending/blocked/aceepted/rejected).

Though, you could easily add a 'starred' field to the database and create a `starred` scope.

[2016-06-30 12:22] #30 closed

[2016-07-17 13:08] clarkewing opened #31 "Method to get mutual friends"
Hi there, I thought it'd be nice to have a method that would give mutual friends, and maybe even another one giving the count of mutual friends. I'll try to work up some code when I get a chance.

[2016-07-17 13:16] hootlex commented on #31
Hi @clarkewing.  It sounds great!
I am looking forward to your pr.

[2016-07-17 21:59] clarkewing commented on #31
I can't seem to submit my PR. First time doing this, am I missing a permission of some sort?

[2016-07-20 12:46] hootlex commented on #31
No you don't need any extra permissions.
You have to fork the repository and then submit a pull request. To learn more about prs check github's documentation https://help.github.com/articles/using-pull-requests/

[2016-07-20 21:41] clarkewing commented on #31
There we go, figured it out!

[2016-07-31 14:54] ShatteredMotion opened #34 "Recipient of a Blockade can block Sender to bypass Blockade"
Hey,

currently, it is possible for the recipient of a blockade to block the sender and thereby replacing the old 'friendship' entry with one where recipient and sender are swapped. Then he can delete 'his' blockade.

Reason is, that in `blockFriend` the following code does not care about the kind of relationship between both models:
[code]

Instead, only friendships which are not of type `blocked

[2016-08-13 22:21] stephane-monnot opened #37 "Spelling mistake in repository description"
@hootlex Could you fix the spelling mistake in repo description please (the missing **u** in eloq**u**ent)?
This package gives Eloq**u**ent models the ability to manage their friendships.
Thank you in advance for fixing it.

[2016-08-15 15:55] nikolaynesov commented on #3
Please check this [test](https://github.com/hootlex/laravel-friendships/pull/33)

[2016-08-17 13:27] hootlex commented on #37
Done, thanks!

[2016-08-17 13:27] #37 closed

[2016-08-18 10:01] #31 closed

[2016-08-18 10:37] hootlex commented on #34
Hey @ShatteredMotion, I solved this issue in https://github.com/hootlex/laravel-friendships/commit/ec5c3cafdd1d4abfadfa3af50ad068ab2135e3dd.
Thanks for pointing it out.

[2016-08-18 10:37] #34 closed

[2016-08-18 11:40] stephane-monnot commented on #3
@hootlex as @nikolaynesov said, his [PR](https://github.com/hootlex/laravel-friendships/pull/33) allows  to change friendship db table name (See [this line](https://github.com/hootlex/laravel-friendships/commit/777c29d6493c2aff14e3ab39f09c21270f07481a#diff-b5a10b67080e340ec851603d248cd7a1R6)). So this issue should be close.

[2016-08-18 11:42] #3 closed

[2016-08-18 11:52] ShatteredMotion commented on #34
Thanks 👍

Haven't tested it yet, but it seems like the `unblockFriend` method need's a change as well to something like
[code]

Otherwise, the method may still delete both block entries as it does not care which of both models is sender and recipient of an entry at the moment.

[2016-08-18 12:18] hootlex commented on #34
It definitely needs a change. :+1:
I haven't finished this yet, that's why I haven't drafted a new release!

[2016-09-01 13:34] FWSimon opened #50 "i better way to use the first() method"
Hi,

Thanks for a nice library.
I have a little issue when trying to "pick" some rows in my user table and doing something like this

`$recipient = User::where('firstname', 'john')->first(['firstname', 'lastname']);`

When i doing
`Auth::user()->isFriendWith($recipient)` it will say `false` even if the 2 users is friends.
But if i remove the `first('firstname', 'lastname')` it works fine.

Is ther

[2016-09-01 14:08] hootlex commented on #50
Hi @FWSimon,

The problem is that you are only selecting the 'firstname' and 'lastname' attributes.
In order `isFriendWith` to make the check, it needs the Model's 'id'.

So, try to use `first()` or `first(['id', 'firstname', 'lastname'])`.

[2016-09-01 14:10] nahid commented on #50
Here is missing `id` thats why `isFriendWith()` method does not identify the `id` attribute. So you may use `first(['id', 'firstname', 'lastname'])` instead of `first(['firstname', 'lastname'])`

[2016-09-01 23:10] skybluesofa opened #53 "Non-reciprocal Friendships"
I've been looking for something closer to a 'moderated follow' system rather than a 'friend' system.

The way I envision it:
- User A requests to follow a User B
- User B accepts/denies request
- If accepted, there are 2 scenarios:
  - Mutually accepted: User A now follows User B AND User B follows User A
  - Non-mutually accepted: User A now follows User B, but User B does NOT follow User A
    -

[2016-09-01 23:33] hootlex commented on #53
Hello @skybluesofa,

Your case is kinda unusual, so I suggest to implement this feature by yourself.

In order to run the tests this way you have to autoload `hootlex/laravel-friendships/tests/helpers.php` within your `composer.json` file.

[2016-09-01 23:40] stephane-monnot commented on #53
Can you try to add `bootstrap="./tests/helpers.php"` in phpunit.xml as below and re-run tests:
<pre><code class='xml'>&lt;phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         <b>bootstrap="./tests/helpers.php"</b>
         convertErrorsToExceptions="true"</code></pre>

[2016-09-02 01:26] skybluesofa commented on #53
Thank you both; I will try this tomorrow...and make sure I give credit where due if/when I get it working.

[2016-09-02 01:26] #53 closed

[2016-09-02 07:18] FWSimon commented on #50
@hootlex @nahid Ahh doh 👍  Thanks a lot

[2016-09-02 07:18] #50 closed

[2016-09-09 07:35] davidavz opened #54 "Firing events"
Hi

Wouldn't it be nice to have by default event fired for each action?
* **friendship.sent** _When a friend request is sent_
* **friendship.accepted** _When a friend request is accepted_
* **friendship.denied** _When a friend request is denied_
* **friendship.blocked** _When a friend request is blocked_

Let me know if you are interested and I will send a PR

[2016-09-10 00:36] hootlex commented on #54
Hi @davidavz,
That would be awesome. Looking forward.

[2016-09-14 08:02] #54 closed

[2016-09-29 14:13] nikolaynesov opened #56 "getPendingFriends"
Hey,

We have already got getFriends() function to get Users with Friendship ACCEPTED status and other methods like getMutualFriends(), getFriendsOfFriends() . How about to introduce getPendingFriends to get Users (not friendships model like we do in getPendingFriendships()) ?
I want to show a list of pendings friends with some user info that I need get from the User Model and a button to accept t

[2016-09-29 20:56] hootlex commented on #56
Hi @nikolaynesov,
It sounds good to me. What do you expect `getPendingFriends` to return?
The pending friends that the user has sent a friend request to **or** the pending friends despite if the user sent or received the friend request?

[2016-09-29 21:44] nikolaynesov commented on #56
@hootlex I am expecting to get Users that sent requests to Current User but their requests are still not ACCEPTED.  Right now in my controller I temporary do it like this:
` /**
     * Get authorized User pending friends
     *
     * @return \Illuminate\Http\JsonResponse
     */
    public function ajaxGetPendingFriends() {

        $friendships    = Auth::user()->getPendingFriendships();

[2016-09-29 21:54] nikolaynesov commented on #56
Another thing is what if I want to make and auto-complete ajax search by pending friends, declined friends, accepted friends or friends in some group? ))) It means we need a more flexible way to build queries. Should it look something like:
[code]

[2016-09-29 22:01] hootlex commented on #56
A more flexible API is definitely needed. Unfortunately, @stephane-monnot and I, are too busy at the moment. I will probably start working on #16 next month.

Regarding your current situation, I suggest to create two temporary methods to use until we go to V2:

- `getPendingIncomingFriends`
- `getPendingOutgoingFriends`

BTW, I think that V2 deserves a decent documentation. I'd be glad if you guys

[2016-10-03 11:21] nikolaynesov commented on #56
@hootlex Also another question related:
Why did you decide to use separate query to get friendships, then merge recipient and sender ids and then run another query to get actual users in getFriendsQueryBuilder() instead of creating a single INNER JOIN query? Are separate queries faster then INNER JOIN ... ON ..sender_id... OR ...recipient_id... in this case? I did not run any tests so maybe you di

[2016-10-07 11:48] FWSimon opened #58 "How to show awating friend requests"
Hey,

Is there anyway i can get a list of awating requests to show my user how many requests they have been sent and is not accepted?

[2016-10-07 12:39] nikolaynesov commented on #58
Hi @FWSimon,

I think it's going to be introduced in a new version that is coming this month.
Right now you can use: $user->getPendingFriendships(); and count results. As far as I know it will give you a list of all pending requests not only what user has sent but also what another users sent to him but he did not accept yet.

To resolve it until v.2 you can introduce a Service Layer and write a c

[2016-10-07 12:48] nikolaynesov opened #59 "Groups in config"
Right now we define groups in config this way:

[code]

It means that developer has to associate a name to each group somewhere else based on slug.
for ex:
[code]
What do you think if we let developer specify public names right in the config.
I see 2 ways of doing this.
1. Use only slugs like 'best_friend' and not indexes to store a group in DB. It will take more space in DB, but makes it more rea

[2016-10-08 01:18] hootlex commented on #56
@nikolaynesov are you going to implement these methods before the v2?

[2016-10-08 01:30] hootlex commented on #58
Hi,

To access the pending friend requests you can use, as @nikolaynesov said, `getPendingFriendships()`. Though, you don't have to create any new methods to find in which of them the user is the sender.

You can do it like this: `$user->getPendingFriendships()->where('sender_id', $user->id)`.
This returns an Eloquent Collection containing the friend requests that are pending and sent by the curre

[2016-10-08 01:35] hootlex commented on #59
Hm, I think that first way looks better since it more dynamic. Meaning that if a dev decides to remove some groups the config will remain clean instead of having something like this:

[code]

However, what do you think about storing the groups in the db?

[2016-10-08 06:24] nikolaynesov commented on #59
@hootlex I was also thinking about that but it's another migration and table for usually 1-3 rows (close friends, family, acquaintances). We can do that though.

[2016-10-08 06:25] nikolaynesov commented on #59
With introducing a table we can allow each user have his own set of groups... but it's another story. What do you think?

[2016-10-08 08:04] hootlex commented on #59
Hmm. I haven't thought about this yet. I was just asking 😄

We can discuss the db solution when we are migrating to V2.

[2016-10-08 08:06] hootlex commented on #59
@nikolaynesov (I've sent you an invitation for the Gitter room)

[2016-10-11 07:12] FWSimon commented on #58
Thanks a lot @hootlex and @nikolaynesov :)

[2016-10-11 07:12] #58 closed

[2016-10-11 21:06] nikolaynesov commented on #56
@hootlex not sure yet, but will let you know by Friday.

[2016-10-12 09:38] FWSimon opened #61 "send friend request to people that has denied"
Hey,

is there a easy way to "update" the status from `2` to `0` if a user has been denied but tries to send a request again?

[2016-10-12 11:22] thepenguin1 opened #62 "Searching within friends?"
Is there a way for me to search within my friends using a column value? E.G.

`$user -> getFriends($perPage, $column, $value);`

[2016-10-12 11:58] thepenguin1 commented on #62
Here's my current solution (place both methods in the User model to override the trait methods):

    /**
     * Retrieves the friends of a user, optionally filtered by column value.
     *
     * @param int $perPage.
     * @param string $groupSlug.
     * @param string $column.
     * @param string $operator.
     * @param mixed $value.
     * @return \Illuminate\Database\Eloquent\Collection.

[2016-10-12 16:47] thepenguin1 commented on #62
Unfortunately, because of the join, the search only works one way (on friends the user added as opposed to the user who was added by friends).

Any ideas how to get round this problem?

[2016-10-13 08:43] #62 closed

[2016-10-13 08:45] thepenguin1 opened #63 "Friends since?"
How would I go about extending getFriends() to include an additional attribute which says when a user became friends with another user?

I could write an additional method, but I want to avoid the N+1 query issue.

[2016-10-16 19:06] mooseh opened #64 "Class 'CreateFriendshipsGroupsTable' not found"
I Installed this plugin which is amazing may i add but as i need to keep restructuring my tables as im developing when i try to migrate rollback i get the error in the title.

Confirmed error:
Class 'CreateFriendshipsGroupsTable' not found

how can i fix this?

[2016-10-21 15:02] hootlex commented on #64
Hello @mooseh,
Have tried running `php artisan optimize` before rolling back?

[2016-10-21 15:06] hootlex commented on #63
I believe that the `$friendship->update_at` attribute is what you are looking for.

[2016-10-21 15:08] hootlex commented on #61
You can always update the status column manually like this:

[code]

[2016-10-21 15:08] #61 closed

[2016-10-21 15:09] #63 closed

[2016-10-26 16:45] idbendriss opened #65 "getFriendRequests with recipient object"
Hello,
After sending a friend request I send back a response with my friendrequest:

 public function sendFriendRequest(Request $request)
    {
           $user = Auth::user();

[code]

How can I get the recipient user object with that response?
 I need to display the profile image, full name ... not just sender_id.

Thank you.

[2016-10-29 10:58] hootlex commented on #65
Hi,
You can access these details from your model.
ex: `User::find($sender_id)->avatar`

[2016-10-29 10:58] #64 closed

[2016-11-11 08:03] JadJabbour commented on #59
I'd be willing to pitch in,
I used the package in one of my projects, would like to help make it better :)

[2016-11-11 22:53] hootlex commented on #59
@JadJabbour I am happy to hear that. Do you have something specific in mind?

[2016-11-22 16:18] Admiraal opened #66 "Lumen support"
Is this package out of the box compatible with Lumen?

[2016-11-22 16:37] hootlex commented on #66
I haven't tested it with Lumen. Maybe you can try and let us know. :)

[2016-11-24 12:25] tokkerbaz opened #67 "Syntax error or access violation: 1103"
Hello! Please help me, error while migrating...

After installing, in migration step, i have an error :
[code]

I think the problem is in this command ->on(config('friendships.tables.fr_pivot')) :

[code]

[2016-11-24 12:46] tokkerbaz commented on #67
I solved it by changing all configs to real name...Sorry for bothering you=))

[2016-11-24 12:46] #67 closed

[2016-12-05 05:05] kdfproject opened #68 "Jr. Question"
Hi Hootlex. First of all, thank you very much for all the hard work on this project.

I'm new to coding, and i'm having some issues i wish you can help me.

In mi UserController.php i have:

public function view($id)
  {
      $user = User::find(Auth::user()->id);
      $recipient = User::find($id);
      $posts = Post::where("user_id", "=", $recipient->id)->get();
      return view('userviews.use

[2016-12-21 04:12] man9035206 opened #69 "Hi hootlex"
How can i use this package i'm new to laravel,please help me
thank you

[2016-12-21 16:23] gjrdiesel commented on #69
@man9035206 do you have the package installed following the instructions [here](https://github.com/hootlex/laravel-friendships#installation) and you're just looking for examples?

[2017-01-03 00:25] brian2694 opened #71 "EagerConstraints?"
Can I do something like that? ---> User::with('friends')->find(1);

[2017-01-03 00:50] brian2694 commented on #71
Sorry for the unnecessary publication

[2017-01-03 00:50] #71 closed

[2017-01-11 11:36] AlexCatch commented on #65
@hootlex How would this work with Pagination?

[2017-01-13 20:57] physio opened #72 "pending friendship request"
good morning to all,
why only getFriends() function can have the users list with paginate?
how can I help to create these functions?

[2017-01-14 14:51] filtration opened #75 "sender_id' cannot be null"
I am creating the user vairable, and passing it through to befriend, but am receiving the error below, this is my code:

    public function getManageFriendRequests($id, $type, User $user)
    {
        $recipient = $user->find($id);
        $sender = Auth::user();

        if($type == 'accept'){
            $user->acceptFriendRequest($recipient);
        }
        elseif($type == 'reject'){

[2017-02-06 16:47] cspshadx commented on #59
@hootlex moving groups into database sounds really cool, as in most cases groups are note predefined but managed by the users themselves, and moreover, each has own groups for his/her "friends".

[2017-02-09 10:01] physio opened #76 "How to work getFriends() function"
Why the $model->getFriends() function return only the friend that has the same model of $model?

[2017-02-09 14:46] hootlex commented on #75
Have you managed to fix that? I think you should use `User::find($id)` instead.

[2017-02-20 18:06] HDVinnie commented on #69
I am also looking for example blades. Didn't want to start a issue over it but some example blades would be nice for a noob like me

[2017-02-21 00:36] #66 closed

[2017-03-01 02:12] poitras commented on #64
Well thanks you for that

[2017-03-20 21:15] tolgatasci opened #78 "ERROR MODELS"
Error
BadMethodCallException in Builder.php line 2508:
Call to undefined method Illuminate\Database\Query\Builder::getAllFriendships()

app/user.php
`<?php

namespace App;
use Hootlex\Friendships\Traits\Friendable;
use Illuminate\Notifications\Notifiable;
use Illuminate\Foundation\Auth\User as Authenticatable;

class User extends Authenticatable
{

    use Notifiable, Friendable;

    /**
     * T

[2017-03-21 13:28] fabio0 opened #79 "Accept friend requests only pending"
Hi, using in some tests I found that if I ask a friend request, then that request is denied, if I ask another request (between same users) when the second one is accepted then all requests from that user are accepted, even if they were denied, so I have 2 friends count but with the same user.

In the trait I think coul be changed
`/**
     * @param Model $recipient
     *
     * @return bool|int

[2017-03-21 14:20] hootlex commented on #79
Hey, thanks for letting me know.

Can you please submit a pr with the failing test? Feel free to include the fix you mention.

[2017-03-28 16:10] stephane-monnot commented on #78
The problem seems to be your code, not this library. You need to call the method `getAllFriendships` on your User instance, not a query builder instance. If you look the import part of your controller, you can see a wrong import :
`use Illuminate\Foundation\Auth\User;`
instead of
`use App\User;`

[2017-03-28 16:15] stephane-monnot commented on #75
Or `$sender` instead of `$user` for :
`$sender->acceptFriendRequest($recipient);`
`$sender->denyFriendRequest($recipient);`
`$sender->befriend($recipient);`

Not a bug, @hootlex Maybe we can close this issue ?

[2017-03-28 22:43] hootlex commented on #75
@stephane-monnot yes, thanks for the reminder.

[2017-03-28 22:43] #75 closed

[2017-03-28 22:44] #78 closed

[2017-03-28 22:46] hootlex commented on #69
I don't see how example views will help you use the package. If you have a specific question feel free to open a new issue.

[2017-03-28 22:46] #69 closed

[2017-03-28 22:46] #65 closed

[2017-03-28 22:48] hootlex commented on #68
Hey, thanks for the kind words. Have you managed to solve your issue?

[2017-03-29 07:38] tolgatasci commented on #78
True! thank you.i forget callback

[2017-04-09 17:02] HDVinnie opened #82 "Install Issue"
root@ns371466:/var/www/html# composer require hootlex/laravel-friendships
Using version ^1.0 for hootlex/laravel-friendships
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Package operations: 1 install, 0 updates, 0 removals
  - Installing hootlex/laravel-friendships (v1.0.21): Downloading (100%)        Writing

[2017-04-09 18:57] hootlex commented on #82
I just published v1.0.22.
Could you try this one?

[2017-04-09 18:57] #68 closed

[2017-04-09 18:57] hootlex commented on #76
Could you provide a failing test for this issue?

[2017-04-09 19:12] HDVinnie commented on #82
Using version ^1.0 for hootlex/laravel-friendships
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Package operations: 0 installs, 1 update, 0 removals
  - Updating hootlex/laravel-friendships (v1.0.21 => v1.0.22): Downloading (100%)
Writing lock file
Generating autoload files

Generating optimized class loader
T

[2017-04-09 19:15] hootlex commented on #82
If you run `php artisan vendor:publish` does it publish the migration files?

[2017-04-09 19:19] hootlex commented on #82
Also, have you added `Hootlex\Friendships\FriendshipsServiceProvider::class` in your provides array within `config/app.php`?

[2017-04-09 19:19] HDVinnie commented on #82
nope but found this in my log:

ErrorException: include(/var/www/html/vendor/hootlex/laravel-friendships/src/FriendshipsServiceProvider.php): failed to open stream: No such file or directory in /var/www/html/vendor/composer/ClassLoader.php:414

[2017-04-09 19:21] HDVinnie commented on #82
yes   Hootlex\Friendships\FriendshipsServiceProvider::class, is in my config/app.php

[2017-04-09 19:34] hootlex commented on #82
I tried it on a L5.4 and works fine. Could you please remove the package and follow the installation steps from the beginning?

[2017-04-09 20:24] stephane-monnot commented on #82
Did you already have CreateFriendshipsTable or CreateFriendshipsGroupsTable class defined in your application or in another dependencies?
In the service provider, We can find :
[code]

[2017-04-09 20:30] HDVinnie commented on #82
I did try another package but removed the table from DB and the folder/files from /var/www/html/vendor

https://github.com/faustbrian/Laravel-Friendable/issues/11

is something conflicting as I'm still having this issue.

[2017-04-09 20:40] hootlex commented on #82
@HDVinnie Are the migration/config files being copied when you run `vendor:publish`?

[2017-04-09 20:47] HDVinnie commented on #82
No....others are but not this package.

Its weird as I use your other package fine and both are there.
[Imgur](http://i.imgur.com/ETJ536b.png)

[2017-04-09 20:52] hootlex commented on #82
Did you try to reinstall it?

[2017-04-09 21:45] HDVinnie commented on #82
yes.....well I deleted the folder for the package under the vendors. Then removed the class from app.php.

then ran composer require hootlex/laravel-friendships
added the class back to app.php
then tried to publish and migrate and same thing happened

[2017-04-09 22:00] hootlex commented on #82
Try to copy-paste the migration and config files manually.

[2017-04-09 22:28] HDVinnie commented on #82
still not working...when I do that and run migrate who site breaks. Must be something off with my app.

ErrorException: include(/var/www/html/database/migrations/2017_04_06_ 185824_create_friendships_table.php): failed to open stream: No such file or directory in /var/www/html/vendor/composer/ClassLoader.php:414

ErrorException: include(/var/www/html/vendor/composer/../../database/migrations/2017_

[2017-04-10 16:12] HDVinnie commented on #82
just a update that I reinstalled my app and package worked fine. Sorry for the hassle. App must have been borked.

[2017-04-10 16:12] #82 closed

[2017-04-10 16:23] hootlex commented on #82
Glad to hear that you fixed it.

[2017-04-11 12:03] Harpreet-singh500 commented on #59
i have some problem in join a friend in a group
$user = Auth::user();
     $group_name=user_group::find($group_id);
    $friend=Friendship::find($friend_id);
     $user->groupFriend($friend, $group_name);

I have not any idea for the parameter in groupFriend($friend, $group_name);

its give error
Argument 1 passed to Illuminate\Database\Grammar::columnize() must be of the type array, string given,

[2017-04-11 12:50] Harpreet-singh500 opened #83 "group join"
i have some problem in join a friend in a group
$user = Auth::user();
$group_name=user_group::find($group_id);
$friend=Friendship::find($friend_id);
$user->groupFriend($friend, $group_name);

I have not any idea for the parameter in groupFriend($friend, $group_name);

its give error
Argument 1 passed to Illuminate\Database\Grammar::columnize() must be of the type array, string given, called in /va

[2017-04-11 13:02] Harpreet-singh500 opened #84 "group join"
controller:
public function add_member($group_id,$friend_id){
        $user = Auth::user();
        $group_name=user_group::find($group_id);
        $friend=User::find($friend_id);
        $user->groupFriend($friend, $group_name);
    }

config/friendships.php
   'groups' => [
		0 => [
		'slug'=> 'acquaintances',
		'name'=> 'Acquaintances'
		],
		1 => [
		'slug'=> 'close_friends',
		'name'=> 'Clos

[2017-04-11 13:03] #83 closed

[2017-04-12 06:42] Harpreet-singh500 opened #85 "$user->groupFriend($friend, $group_name);"
@hootlex I want to add friend in group.I do not any idea in
 $user->groupFriend($friend,  $group_name);
what $group_name is realy want.
it give an error as
ErrorException in Friendable.php line 124:
Illegal offset type in isset or empty

[2017-04-12 09:22] stephane-monnot commented on #85
Have you defined your groups in your config file ?
https://github.com/hootlex/laravel-friendships#friend-groups

[2017-04-12 09:58] Harpreet-singh500 commented on #85
I use $user->groupFriend($friend, $group_name); for join a friend in a group.

but it give an error

 Illegal offset type in isset or empty

I have an error in this code

        if (!isset($groupsAvailable[$groupSlug]) || empty($friendship)) {
                   return false;
        }

$groupsAvailable[$groupSlug]  what it get

On Wed, Apr 12, 2017 at 2:52 PM, Stéphane Monnot <notifications@gith

[2017-04-18 02:11] pkitatta commented on #6
Hi, can this system avoid duplicate rows of relationship. Example -  can sender_id, recipient - 3,2  be stored as 2,3, so that makes 2 records for the same relationship.

[2017-04-18 06:27] Advil-Robin commented on #6
Well if one row already exists, then you'll have a "friendship". But if there are two rows like you say (wich you can avoid in your project) will not affect the output.

[2017-04-24 19:46] kinnedev opened #87 "SQL error. Using with Spark"
I am getting the below error when trying to beFriend.

[code]

I have both models. Not sure what I may be doing wrong.

[2017-04-25 19:10] kinnedev commented on #87
Please let me know any info you may need on this. I can screen shot the full sql query that is being attempted if that would help.

Thank You!

[2017-06-24 04:58] BrunoMCTeixeira opened #88 "How can I get the recipient information?"
All I get is the bellow response, but I want do display the recipient information on a page without making any more queries, how can I do it?

`[
{
id: 1,
sender_id: 7,
sender_type: "App\User",
recipient_id: 15,
recipient_type: "App\User",
status: 0,
created_at: "2017-06-24 04:07:10",
updated_at: "2017-06-24 04:07:10"
}
]`

[2017-06-25 00:05] BrunoMCTeixeira commented on #65
This is not good because you will have the +n1 issue on queries. Imagine you have 50 friend requests per page..

[2017-06-25 23:18] syropian commented on #88
I think you could probably "lazy eager load" it a la

[code]

[2017-07-15 11:28] fortael commented on #76
Same problem

id | sender_id | sender_type | recipient_id | recipient_type | status | created_at | updated_at
-- | -- | -- | -- | -- | -- | -- | --
18 | 1 | App\User | 4 | App\Worker | 1 | 2017-07-15 13:10:16 | 2017-07-15 13:12:59
19 | 1 | App\User | 14 | App\Worker | 1 | 2017-07-15 13:13:05 | 2017-07-15 13:13:05

[code]
Returns

[code]

Also would be great to have a function to find friends only

[2017-09-01 17:06] rluders opened #91 "Laravel 5.5 support"
Hello.

Is there any hope for the Laravel 5.5 compliant package?

[2017-10-04 23:00] nateritter commented on #91
@rluders I just tested it in L5.5 and it works fine. I did fork it (and change testing to use sqlite instead of mysql) here, if you're interested.  Everything passes:

https://github.com/nateritter/laravel-friendships

https://travis-ci.org/nateritter/laravel-friendships
[![Build Status](https://travis-ci.org/nateritter/laravel-friendships.svg?branch=master)](https://travis-ci.org/nateritter/larav

[2017-10-05 15:39] hootlex commented on #91
@nateritter good job! Could you submit a pr with the L5.5 tests?

[2017-10-05 16:23] nateritter commented on #91
@hootlex actually, the tests work fine as-is with L5.5.  I just changed composer requirements.  I made some other changes, like using sqlite instead of mysql. Reduces a dependency on Travis, and tests are slightly faster.  If you want all that, I can just submit the PR with what I've got now?

[2017-10-05 16:28] rluders commented on #91
@nateritter great. Do not forget about the package autodiscovery.

[2017-10-05 16:31] nateritter commented on #91
@rluders Yup, all part of it.

[2017-10-05 16:42] nateritter commented on #91
PR added: https://github.com/hootlex/laravel-friendships/pull/92

[2017-10-12 19:40] hootlex commented on #91
Hey @nateritter, thanks for clarifying that it works fine as-is with 5.5. Since #92 is failing I'd rather stick with the current testing set up. Feel free to open a new pr if you think you can make the tests run faster. 🙂

[2017-10-12 19:40] #91 closed

[2017-10-15 07:13] kabelo38 opened #93 "[Regards]Thank you"
Thank you for such a nice tool and just to confirm this package works with LUMEN 5.4

Another thank you for to this API boilerplate by Hasan Hasibul  https://github.com/hasib32 I am managed to build friend relationship API system

![thank you](https://user-images.githubusercontent.com/5912376/31582620-f975de48-b188-11e7-847d-fec913db9bde.jpg)

[2017-10-21 06:48] bknetmedia opened #94 "Incorrect table name '' When making migrations."
I've used make:migrations to create "create_friendships_table" and "create_friendships_groups_table". I copy and paste the code from github into these files and I get these errors and I can't figure it out.

 [Illuminate\Database\QueryException]
  SQLSTATE[42000]: Syntax error or access violation: 1103 Incorrect table name '' (SQL: create table `` (`friendship_id` int unsigned not null, `fr
  iend

[2017-10-27 05:01] stvnyung commented on #94
Hello @bknetmedia !

I suspect the issue to be that you manually created "create_friendships_table" and "create_friendships_groups_table", I obviously don't know how familliar you are with Laravel, but usually, config file and migrations like that should always be imported with ```php artisan vendor:publish``` or with ```php artisan vendor:publish --provider="Hootlex\Friendships\FriendshipsService

[2017-10-27 18:46] bknetmedia commented on #94
I'll try that today. I just did php migrations and typed everything into the file.

[2017-10-29 04:49] bknetmedia commented on #94
Ok this worked for me. Any idea on how to build a controller for this project?

[2017-12-09 16:21] #94 closed

[2018-01-30 22:33] mughalles opened #97 "Canceling my Friendship request"
Hallo,
first of all thank you for your niche package. What I missed is a function so I can cancel my requests myself. So like

if($me->hasSentFriendRequestTo($recipient)){
    $me->**cancelSentFriendrequestTo($recipient);**
}

thanks

[2018-01-30 22:58] hootlex commented on #97
Great idea @mughalles. Can you submit a PR? 🙂

[2018-01-30 23:00] heidilux commented on #97
what about...
[code]
Otherwise, you'd have to get into adding a new Status.

Just a thought :)

[2018-02-09 10:40] tquiroga opened #98 "Method whereRecipient does not exist"
I'm using Laravel 5.5, I installed the package, run the migration and added the trait to my User model. When I try to beFriend another user I get that error:
`Method whereRecipient does not exist.`

I've run a simple:
[code]

[2018-02-09 10:44] tquiroga commented on #98
My bad, make sure you don't create a method called `friends()` in the User model. I should have checked the method names in the trait before I add anything ...

[2018-02-09 10:44] #98 closed

[2018-02-10 19:39] udanpe commented on #93
Agree. Nice job.

[2018-02-19 17:09] hootlex commented on #93
Thanks for letting me know @kabelo38 🙂

[2018-02-19 17:09] #93 closed

[2018-02-26 01:53] llamorinjason opened #99 "Get All Friends that blocked you"
Hi, could please tell me how to do this, help is much appreciated.

[2018-03-03 23:01] joveice opened #100 "getFriendsCount returns wrong"
`$user->getFriendsCount()` returns all friend requests, declined, accepted.

Expected to get all Current friends.

Is there a way for me to change some config so after a user accepts a friend request the request is deleted. I do not need old requests in my database. I only need non responded and friendships, not a history of who I accepted or declined..

[2018-04-17 21:04] thakurabhishek795 opened #101 "basic flow to send request"
1)what field needs to send? what I should I write in resource/view  files
2)where does it go? to the controller? how should I implement Friendable trait in that controller?
3) is this necessary to add Friendable trait to User model?
@hootlex @nikolaynesov @nahid @bryant1410 @davidavz @irazasyed

[2018-04-18 09:34] davidavz commented on #101
Hi.

You have to add the Friendable trait into the model you want to act with (in most of the case it's the User model).

Then you can call the differents methods with your User instance. It's up to you to call them in a Controller, a View ...
It depends on what you want to do.

[2018-04-19 13:04] davidavz commented on #99
This method is not implemented yet.

[2018-04-21 08:08] thakurabhishek795 commented on #101
thankyou

[2018-04-21 08:08] #101 closed

[2018-04-25 13:59] #88 closed

[2018-05-02 18:34] AEK-BKF opened #103 "Installation issue on L5.6"
Hi,
Thanks for this nice package,

I tried to install the package, but :
`php artisan vendor:publish --provider="Hootlex\Friendships\FriendshipsServiceProvider"`
doesn't work  !
So I copy config and migration files manually, and I had to rename the friendship creation table before the group one.
I works fine !
Try to fix it :)

[2018-05-02 19:31] stephane-monnot commented on #103
Have you included the service provider inside config/app.php.

[code]

[2018-05-02 19:33] AEK-BKF commented on #103
AH ok! I thought no need for that because I'm using Laravel 5.6.20 !
Thanks :)

[2018-05-24 19:09] jake5253 opened #105 "How to handle User when model extends Authenticatable instead of Model"
As per the title, my Users model extends Authenticatable not Model.

I got $user->befriend($id) and $user->getPendingFriendship() to work by calling $user = \Auth::user(); but the same does not work for $user->acceptFriendRequest():
`
Type error: Argument 1 passed to App\User::acceptFriendRequest() must be an instance of Illuminate\Database\Eloquent\Model, string given, called in /home/vagrant/cod

[2018-05-24 19:38] #105 closed

[2018-05-27 11:09] einnar82 opened #106 "HTTP Methods?"
Thanks for your awesome package, may i have some examples on to use the functions of the library with proper HTTP methods, Thanks.

[2018-06-12 00:42] einnar82 commented on #106
Either ANY HTTP request will do!

[2018-06-12 00:42] #106 closed

[2018-06-12 05:24] rannieo opened #107 "Creating a group dynamically?"
Aside for assigning groups in the config, is there a way to create more groups dynamically?

[2018-07-16 09:29] AlexCatch opened #109 "Paginate pending friend requests?"
There doesn't seem a way to paginate pending requests like you can with friends, I think this is pretty counterintuitive as you could potentially have 100+ pending friend requests etc.

Am I missing something or is there no way to paginate pending requests?

[2018-07-28 16:18] sheriffmarley opened #110 "Eager load isFriendWith"
Hi,

is it possible to eager load the `isFriendWith` method?
Else I would have an n+1 problem. Tried a lot, but nothing worked.

Best

[2018-09-09 16:19] oza75 opened #111 "Problem when we Deny Friend Request and send another request"
Hi, and thanks for this package! I got some troubles. When you deny a friend request and sent another request, the **canBeFriend** method always return true. I take a look on your code and the problem was in
[code]
This methods return the first request that was sent but if a first was denied the **canBeFriend** doesn't take care of it and then it's return true even if another request was sent.
I t

[2018-09-22 08:20] TechTailor commented on #56
@hootlex facing this same issue myself. Need to load details of users whose who have not yet accepted my friendship but getPendingFriendships() returns all instances regardless of whether the current user is the sender or recipient as such I cannot eager load getPendingFriendships()->load('recipient') the result as the current user themselves will show up in the list.

Would really love a method t

[2018-10-04 11:12] TechTailor opened #113 "Unable to get a clear/clean list of pending friendships for a user"
Hey,

I am trying to get a list of all pending friend requests for a particular users, however, using `getPendingFriendships` returns all the entries where the friendship is pending. How can I get the list of pending invites for that particular user.

Would appreciate a fix or workaround this.

Thanks.

[2018-10-16 10:56] antweny opened #115 "I don't understand how to use this package."
Im developing a proffesional network and want the users to connect to each other. I found this package but how to i use it especcialy when you already have the user model which stores all the users. hoa to get sender id and receipt it.

[2018-10-16 12:22] TechTailor commented on #115
its very simple if you go through the documentation thoroughly. Just give it a few reads. For any confusion, the sender_id and recipient_id will always be the User's ID's, just changes depending who is the user sending the request and who is the user receiving the request.

For Ex: we have a table with 5 users with id's (1,2,3,4,5, respectively) -
 So if the User with ID 1 (who also happens to be

[2018-10-16 12:24] #113 closed, assigned to nobody

[2018-10-16 12:34] TechTailor commented on #100
@hootlex would you mind closing all the issues that have already been resolved through releases. Its giving me a bad case of OCD, especially since I am using this package in one of my main projects and want to be up-to-date with it.

@joveice if in case you might still be wondering, the issues stated by you don't exists in the current release of the package.

[2018-10-16 12:47] antweny commented on #115
I'm not good on writing english hope u'll understand me.
Thank you very much this is an eye open to me. I looked at the test file but i can't figure out how to pass the recipient id on where.

the test/FriendshipsTest.php file is like this if you want to send the friend requset
public function user_can_send_a_friend_request()
    {
        $sender    = createUser();
        $recipient = createUser

[2018-10-16 13:15] TechTailor commented on #115
Hey, for future when writing/pasting code use the "insert code" which looks like this <>

As for your question, Tests are not designed for you, its only useful for those who knows the inner working and want to make sure if they make any changes to the code, they wont break anything. Looking at the tests without understanding the functions will not make any sense for you or anyone.

Just look at th

[2018-10-16 13:53] antweny commented on #115
Thank you very much for the support. Let me work on it if i face any problem i'll ask for support.

[2018-10-16 15:57] antweny commented on #115
i want to get the list of all the users except those we are connected as friends andi have sent the request. how can i do this??.

[2018-10-17 06:58] TechTailor commented on #115
I don't think such a function is build into the system. If you want to display the user a list with all of your other users (minus friends) for them to add, then that is a good source for spamming. It is advised that you befriend a user if and only if you know something about them (like email, username, full name, etc).

Can you tell me your use case for this? or what you are trying to achieve?

[2018-10-18 08:25] antweny commented on #115
I want the system to be able to suggest users to add as friend except those who are their friends, request has been sent to/from, blocked user

[2018-10-18 08:25] antweny commented on #115
I want the system to have ability suggest other users to add them as friend except those who are already their friends, request has been sent to/from, blocked user

[2018-10-18 09:01] antweny commented on #115
This is what i want to achieve in a proper way the current one is working but not a good approach

My Controller file
`class HomeController extends Controller
{
    public function __construct()
    {
        $this->middleware(['auth', 'verified']);
    }

    //Show the application dashboard.
        public function index()
        {
            $users = User::select('name', 'id')->where([['id','

[2018-10-18 09:07] antweny commented on #115
This is what i want to achieve in a proper way the current one is working but not a good approach.

My Controller file
`class HomeController extends Controller
{
public function __construct()
{
$this->middleware(['auth', 'verified']);`

My view file.
`@foreach($users as $user)
@php
$auth_user = Auth::user();
$recipient = \App\User::findOrFail($user->id);
@endphp
@if(($auth_user->hasSentFriendReque

[2018-10-18 10:57] TechTailor commented on #115
Okay, I get it, you want something like Facebook/Twitter has for suggesting users. Well I will have to get some free time to be able to create a PR that would do this out of the box with eager loading, but for now you are on the right path.

The STATUS column in the friendships table is used for describing the TYPE of Friendship. When you Deny, Block or Accept, all it does is change the Status int

[2018-10-18 11:22] antweny commented on #115
Thank you very much it worked fine
[code]
alse the reason why i didn't do this way `$users = User::all()->except(Auth::id());` is because i want to get only those users who have already verified their accounts via e-mail thus why i'm doing this way `$users = User::select('name', 'id')->where([['id','!=',Auth::user()->id],['email_verified_at','!=',NULL]])->get();` if there is a best way please shar

[2018-10-18 11:34] TechTailor commented on #115
Glad that it worked. Close this issue if you are done.

[2018-10-18 12:11] #115 closed, assigned to nobody

[2018-10-18 15:36] antweny opened #116 "getAcceptedFriends not returning the user details"
When i fetch all accepted friendship and pass to the view the names and id of the friends not showing.

My controller file
[code]

View file
[code]

It displays the list of all accepted friendship without their details like their name.

I need support

[2018-10-18 15:51] TechTailor commented on #116
Hey, since the pivot table only holds the id's, you will only get the collection of id's when you call the function as is. If you want to get the full details of the users like name, email, etc then you need to eager load them by using `->load('sender')` or `->load('recipient')`

[code]

the above will load the user details for both the sender and the recipient user, if you want details of just on

[2018-10-18 16:15] antweny commented on #116
I tried this but still details not showing on the view

[2018-10-18 16:39] TechTailor commented on #116
Can you show me your view file?

[2018-10-18 16:53] antweny commented on #116
here it is
[code]

[2018-10-18 17:09] TechTailor commented on #116
Okay, the thing is when you are eager loading properties, you need to echo them accordingly. Let me show you just for sender -

[code]
And you do the same thing with the recipient or any other eager loaded property.

Next time dd your collections to see all the properties associated with it by doing `dd($connections);` in your controller.

-TT

[2018-10-18 17:26] antweny commented on #116
this solution works fine but sometimes a sender/recipient is an logged user how to handle this

[2018-10-18 17:39] antweny commented on #116
tried this and worked fine

[code]

[2018-10-23 19:22] #116 closed, assigned to nobody

[2018-10-31 21:12] bhdrnzl opened #117 "can't send friend request"
Argument 1 passed to App\User::befriend() must be an instance of Illuminate\Database\Eloquent\Model, integer given, called in C:\xampp\htdocs\handicraft\app\Http\Controllers\UserController.php on line 185

line 185;
`public function friendRequest($nick)
	{
		$recipient = Auth::id();
		$user = User::where('slug', $nick)->first();
		$user->befriend($recipient);
		return back();
	}`

[2018-11-01 00:39] heidilux commented on #117
`$recipient` is the authenticated user's id. You need to pass in the actual user. In your example, you could do, `$user->befriend(Auth::user())`

[2018-11-01 11:09] bhdrnzl commented on #117
thanks heidilux, Yesterday I had never tried this way. Working now, I'm happy :)

[2018-11-01 12:55] #117 closed, assigned to nobody

[2018-11-27 08:51] jaspervanbrian commented on #97
Yep that's great, but I think we should implement a dedicated function for cancelling `user's` request, so if the user of this library needs to fire off custom events after cancelling request, he can distinguish whether a user has cancelled his request or the recipient really did deny the friend request. But this solution is nice tho.

[2018-11-27 14:54] antweny opened #118 "how do i use UUID"
I want to use UUID in this package.

On Friendship migration file should i change like this

[code]
And on friendships groupd i changed like this

[code]

how do i deal with morphs data type....

[2018-12-08 10:53] bhdrnzl opened #119 "Call to undefined method App\User::getPendingsCount()"
controller;
`$user = User::find(Auth::id());`

blade;
`{{ $user->getPendingsCount() }}`

error;
`Call to undefined method App\User::getPendingsCount() `

[2018-12-08 12:30] TechTailor commented on #119
First of all, use this for getting the currently logged in user. Its much clean.
`$user = Auth::user();`

Secondly, , the getPendingsCount() function was probably removed as I can't find it in the code and I guess the ReadMe was never updated for it.

You can use a function as this one to get the same results (add the following to vendor\hootlex\laravel-friendships\src\Traits\Friendable.php;
[code

[2018-12-15 02:14] cesarlanz commented on #97
Greetings, thanks for your package, I would like to know if there is already a solution to "cancel a friend request"?

[2018-12-15 21:51] SimonePellecchia opened #120 "PHP 7.2 count() Issue"
Hi, there are some problem with this library after updating to php 7.2.
It doesn't support count() to check empty params.
"count(): Parameter must be an array or an object that implements Countable"

[2019-01-01 15:20] pburel commented on #120
@count() could solve

[2019-01-01 15:59] SimonePellecchia commented on #120
Bu is not much elegant :) Happy 2019

[2019-01-17 12:03] cmarfil commented on #110
Hello,

+1
This package have methods to Eager Load something like isFriendWith, common friends etc?

Thanks!

[2019-02-04 11:09] elephantux opened #121 "Friendship Status"
How to get friendship status types? pending, accepted, declined etc.?
I need show table with all Friendships and show status of each.

[2019-02-04 15:06] TechTailor commented on #121
Hey,

You can use the `getAllFriendships()` method which returns all types of friendships.

You can then get the status of the friendship (0=Pending, 1=Accepted, 2=Denied, 3=Blocked) and eager load the sender/recipient details (username, email, etc) and the filter through the collection to display the results as desired.

A very basic way of testing the same would be -
[code]

Now there is a limit

[2019-02-04 15:11] TechTailor commented on #118
Hey, are you eliminating id's from your user's table entirely? Why do you wan't to use UUID instead? Just trying to understand the use case and benefit of it here?

[2019-02-04 15:14] elephantux commented on #121
Thanks @TechTailor

I was looking for exactly this: 0=Pending, 1=Accepted, 2=Denied, 3=Blocked

[2019-02-04 15:14] #121 closed, assigned to nobody

[2019-02-10 12:59] Baspa opened #122 ""Incorrect table name" after publishing the vendor"
I followed these steps:

- Install through composer
- Publish config and migrations
- Migrate the database

When I try to migrate the database I get the following error:

[code]

Maybe I did something wrong by not following this step:
[code]

But I don't know what is meant with configure the published config? What do I have to config here? I didn't create the migrations myself like this person did

[2019-02-10 13:15] TechTailor commented on #122
If you have published the config files using :

`php artisan vendor:publish --provider="Hootlex\Friendships\FriendshipsServiceProvider"`

Go to `config/friendships.php` and see if it matches this -

[code]

If its the same then clear your config & compiled files by running `php artisan config:clear` and `php artisan clear-compiled` in your console and then run your migration again.

If it still do

[2019-02-10 13:43] Baspa commented on #122
Running config:clear and clear-compiled worked. Thanks for you fast reply.

[2019-02-10 13:43] #122 closed, assigned to nobody

[2019-03-14 01:16] jhm-ciberman opened #125 "Does not work with Laravel 5.8 (Event::fire)"
Error: Call to undefined method Illuminate\Events\Dispatcher::fire()
Laravel Version: 5.8

The method ´Event::fire()´ has been deprecated (and removed)
It should be replaced with ´Event::dispatch()´

´´´php

    /**
     * @param Model $recipient
     *
     * @return \Hootlex\Friendships\Models\Friendship|false
     */
    public function befriend(Model $recipient)
    {

        if (!$this->canB

[2019-03-14 01:17] jhm-ciberman commented on #125
I think this PR solves the issue. Please merge this asap, since my clients app deppends on this package

https://github.com/hootlex/laravel-friendships/pull/124

[2019-03-14 17:23] hootlex commented on #125
@jhm-ciberman the PR is incomplete. When it's fixed and tests pass for all supported Laravel versions I will merge ASAP

[2019-03-14 21:52] jhm-ciberman commented on #125
For my scenario, I created my own "HasFriends" trait and extended yours overwriting the conflictive methods. So, its not that urgent for me at the moment.
Thanks for the quick answer!

[2019-03-17 21:58] Solomon04 commented on #66
To Run on Lumen do the following
- **Step One:** `composer require hootlex/laravel-friendships`
- **Step Two:** Manually create _config/friendships.php_ with the following:
[code]
- **Step Three:** Add `$app->configure('friendships');`  in _bootstrap/app.php_
- **Step Four:** Add `$app->register(Hootlex\Friendships\FriendshipsServiceProvider::class);`  in _bootstrap/app.php_
- **Step Five:** Run `

[2019-03-18 10:02] hootlex commented on #66
@Solomon04 that's neat, thanks! Can someone confirm it's working? If so, I'd be happy to merge a PR to add it in the README.

[2019-03-29 15:28] 7KiLL commented on #118
Morph method is simply shortcut for `{name}_id` and `{name}_type`. But for `id` it takes `bigInteger`. We need `uuid` field type.
[code]
and
[code]

[2019-03-30 05:10] Solomon04 commented on #125
Building on @jhm-ciberman solution I also created a separate trait, here is a what I did:

### Create Trait
[code]
I am overriding the methods and replaced `Event::fire()` with `Event::dispatch()`

### Replace Friendable Trait in User Model
Then instead of using the **Friendable** trait in the user model, use the new trait you just created in place of the  **Friendable** trait.

_Note this is just

[2019-04-09 10:36] MarcoCazzaro commented on #125
Hi guys, any news on this issue? Thanks

[2019-04-18 10:54] IAmShawky opened #126 "laravel issue when I add notes to database"
Hi, I am working on laravel project it has 2 tables in DB, one for "pages" and other for "notes" I am making 2 models n 2 controllers and I'm connecting the tables using one2many relation, "one page which has many notes". I made 2 views in blade files. one to show all the titles of all pages, I already have inserted title column in DB which refers to the title of page, on other table of notes, I u

[2019-04-18 14:04] heidilux commented on #126
This is not an issue with this friendships package, but you're calling `pages()` on your Page model in your PostGeneralNote() method. You have a `page()` method on your Notes mode, or a `note()` method on your Page model.

you probably want something like:
[code]

[2019-04-18 14:10] IAmShawky commented on #126
can u write me the full correct code, for notecontroller? and i am kindly asking u since i am new here, how to post individual issue on github site?

[2019-04-18 15:12] heidilux commented on #126
I would do something like this

[code]

I would spend a bit of time in the Laravel docs, and/or take a visit to laracasts. There are some great "getting started with Laravel" videos there that don't require a paid subscription.

Also, if you have further questions, I would use stackoverflow, or the laracasts forums. Github should be for issues with the individual packages.

[2019-04-25 07:50] #118 closed, assigned to nobody

[2019-04-25 07:51] antweny commented on #125
Hello guys any updates concerns this issue??

[2019-04-29 08:22] Baspa commented on #125
Still no news?

[2019-06-01 18:41] dereks opened #127 "laravel-friendships needs a maintainer"
Now approaching 3 months of "does not work with Laravel". Other issues also have no answers, and it's been almost a year since the last commit to master.

So it looks like the laravel-friendships package is unmaintained. This is a call for someone to take over basic maintenance.

I can offer patches to get it working (and maybe close some open tickets) but I can't commit to project management (ans

[2019-06-04 08:55] OhKannaDuh commented on #127
I'm also pretty happy to pick up bits of this where possible but can't commit to being a full time maintainer.

[2019-07-21 07:13] agamyrat301 commented on #105
that was what I was looking for

[2019-08-05 09:42] younus93 commented on #110
Hi, is this request accepted?

[2019-08-12 00:13] jnbn commented on #125
As no PR's are being accepted you can replace all `::fire` methods with `::dispatch` in your Friendable trait manually.

[2019-08-29 20:53] ghost opened #130 "How To Fetch Posts For only friends"

[2019-08-29 20:57] TechTailor commented on #130
I will have to look into for fetching, but for displaying, maybe you can do something with this -

`$user->isFriendWith($friend);`

and display only if its true. Not ideal but try it out.

Tell me if it works out.

-TT

[2019-09-05 19:21] samiklah commented on #119
check out your User model you are calling an undefined method

[2019-09-19 21:38] CactusJasper opened #133 "Will this work"
Will this work in Laravel 6.x
I know this isn't an issue, however, I would love to know

[2019-11-23 02:15] ractoon commented on #133
I'm currently using this in a Laravel 6 project. Things seem to be working as expected.

[2019-12-05 07:21] jagroop commented on #107
@hootlex is there any possibility ?

[2019-12-05 10:36] TechTailor commented on #107
Unfortunately it is currently not possible without custom modifications.

[2019-12-05 12:53] jagroop commented on #107
![](https://media.giphy.com/media/9Y5BbDSkSTiY8/giphy.gif)

[2019-12-26 02:42] kingga commented on #133
@ractoon I'm using this in Laravel 6 as well and their seems to be a problem with events.

`Call to undefined method Illuminate\Events\Dispatcher::fire()`

Small trace:

[code]

If you want to use this as I did I would recommend forking it and just changing everything which uses `Event::fire` to `Event::dispatch` in `/src/Traits/Friendable.php`. Their is a pull request for this already but it seem

[2019-12-27 01:27] CactusJasper commented on #133
ok thank you it's working fine now

[2019-12-27 01:27] #133 closed, assigned to nobody

[2020-01-08 12:18] patterueldev opened #134 "How do you check relationship with other user before sending a friend request?"
I can't find a method that will check if there's "an existing record" on the friend request table (I'd have to use Eloquent manually), but there could be a method created to check this right? I mean,

What if the other user is already:
Added? Pending Request? Blocked?

Is there a single method to check this?

[2020-01-08 13:09] patterueldev commented on #125
So you have to replace it inside the `vendors` folder? Not too practical

Btw I'm using Laravel 6 and the issue still exists.

[code]

[2020-01-18 14:17] flakerimi commented on #127
I can contribute too, it doesn't have to be one maintainer.

[2020-02-04 02:22] Zen0x7 commented on #127
I can be a maintainer 🙏

[2020-02-05 14:09] Zen0x7 commented on #127
I create a repo with Laravel 6 support.

https://github.com/demency/laravel-friendships

[2020-02-05 14:14] OhKannaDuh commented on #127
@demency Does it also support L5?

[2020-02-05 14:15] Zen0x7 commented on #127
Feel free to create an issue. Ill maintain in full time 👍

[2020-02-05 14:16] hootlex commented on #127
@demency I'd merge a PR that adds support for L6 as soon as the tests are passing for both L5 and L6.

[2020-02-05 14:17] Zen0x7 commented on #127
Thanks @hootlex

[2020-02-05 14:19] hootlex commented on #127
@demency no problem! If it is not possible to support both Laravel versions, I am open to bump a new major release for the package for L6 and keep current package version for L5.

[2020-02-05 14:21] Zen0x7 commented on #127
I just wanna create code 🙏

[2020-02-16 04:51] khacnha commented on #125
Me too!
`"message": "Method Illuminate\\Events\\Dispatcher::fire does not exist.",`

[2020-03-02 05:15] ronssij commented on #134
What about this? It's on their docs

[2020-03-13 08:05] mshoaibdev opened #139 "Support for Laravel 6"

[2020-03-13 08:10] #139 closed, assigned to nobody

[2020-04-23 15:45] pkitatta opened #140 "Laravel 7 support"
Any plans to support laravel 7. I am migratign my app from laravel 5.5. Thanks.

[2020-04-26 06:16] user-error-pixel opened #141 "Is this still maintained?"
If not ill make a repository and maintain this.

[2020-04-26 06:22] user-error-pixel commented on #141
I hate to see packages as cool as this one not get any attention.

[2020-04-26 08:35] Zen0x7 commented on #141
https://github.com/demency/laravel-friendships for l6

[2020-04-26 09:09] user-error-pixel commented on #141
Thanks for picking this project up.

[2020-04-26 09:09] #141 closed, assigned to nobody

[2020-04-26 20:02] nelson-k-808 commented on #125
Hey Friends has the issue been resolved ?

[2020-04-27 19:58] Solomon04 commented on #125
@jpteruel095 you don't have to edit your vendor file. Just extend the class and override the methods.

[2020-05-16 11:19] jwittekind opened #142 "Replace usage of deprecated Illuminate\Events\Dispatcher::fire()"
I'm always getting an error when trying to seed my database causd be the method
$user->befriend($arg);

My research has shown that this method is outdated. My updates did not help me to get rid of this error. Will it be fixed?

`
Symfony\Component\Debug\Exception\FatalThrowableError  : Call to undefined method Illuminate\Events\Dispatcher::fire()

  at /var/www/my-api/vendor/laravel/framework/src/

[2020-05-25 00:04] mrandibilbao commented on #142
Same here, pls fix it. Really love your package. Thanks

[2020-05-28 19:38] tojorodialson commented on #125
the contributors will must make update with code

[2020-05-29 22:25] atix9000 commented on #142
same here

[2020-06-03 05:02] Aujicini commented on #142
Sorry, this seems to be unmaintained. Please goto https://github.com/demency/laravel-friendships/issues.

[2020-06-18 22:30] felix2056 commented on #140
i would like an answer to this as well

[2020-06-20 07:11] Zen0x7 commented on #140
Hey ✌️!

https://github.com/demency/laravel-friendships
some good contributor helps me to enable L5.8 to L7 versions.

[2020-06-26 13:50] pkitatta commented on #140
@demency OK, let me check it out. Thanks.

[2020-09-18 12:00] swietek opened #143 "Composer install hootlex requires version ~5.*"
Hi,
I have an existing laravel project and wanted to add a new package for creating pdf.
Unfortunately I always get this error when I require any package with composer

[code]

It is very weird because of the version, when I remove the package I can install the pdf package. But I cannot install hootlex/laravel-friendships package anymore as I'm getting the same error as described above.

[2020-09-18 12:09] TechTailor commented on #143
Can you provide more information about your environment/app? Laravel Version, PHP Version, ServerType, etc. Would help in debugging the issue.

-TT

[2020-09-18 12:47] swietek commented on #143
PHP v. 7.3.11 on command line
Developing locally with Homestead / MySQL

composer.json
[code]

Hope that helps for debugging.
As mentioned in this state I try to add the hootlex package

[2020-09-18 16:35] TechTailor commented on #143
This package only has support for Laravel 5.x versions. Unfornately this package has not be updated to work with Laravel 6 & PHP 7+ even though some pr's for the same were submitted.

If you still want to use this package, you'd need to downgrade to Laravel 5 or find an alternative.

-TT

[2020-09-19 07:43] thijskuilman commented on #143
I've got the same error since yesterday, even though I'm running Laravel 5.x

[2020-09-19 09:19] TechTailor commented on #143
Your PHP version? This repo hasn't been updated/changed in a very long time. So if anything stops working, its cause you updated something to the newer version (anything released within the last 18 months is definitely not compatible), say for example your PHP version.

Also are you requiring through composer or adding manually to the composer.json file ?

-TT

[2020-09-21 12:12] roshani3110 opened #144 "Why getFriends method returns all friends ?"
Hello,

**Requirement :-** to fetch friends of a specific group and I have used getFriends($perPage = 20, $group_name) method.

**Problem :-**  getFriends($perPage = 20, $group_name)  returns all friends of application and also getFriendsCount($group_name) returns count of all friends of application. can you please help me?

**Here is  code:**

`foreach ($groups as $group) {
      $group_name = $g

[2020-09-21 14:02] TechTailor commented on #144
Hey,

Can you share your group model & migration and the `config/friendships.php` file.

-TT

[2020-09-21 15:10] roshani3110 commented on #144
**config/friendships.php**

`<?php

return [

    'tables' => [
        'fr_pivot' => 'connections',
        'fr_groups_pivot' => 'user_connection_groups'
    ],

    'groups' => [
        'acquaintances' => 0,
        'close_friends' => 1,
        'family' => 2
    ]

];`

**Migration:-**

`class CreateFriendshipsGroupsTable extends Migration
{

    public function up() {

        Schema::create(

[2020-09-21 15:22] pkitatta commented on #140
@demency I have been a repo link and it is not there. I saw it previously  but have till am ready to use it but now it is not there.

[2020-09-21 17:32] TechTailor commented on #144
Does the group title you are retrieving from `$group->title` match the group names used in the `config/friendship.php` file?

-TT

[2020-09-22 00:20] Zen0x7 commented on #140
Yes @pkitatta
You're right.

But for some reason i had to delete it. Some weird things happens. Probably in future i'll release a compatible version but with different license and code. Not sure when, because im too busy.

[2020-09-22 03:40] roshani3110 commented on #144
nope, also i tried  this -> $user->getFriends($perPage = 20, 'family'); but didn't work.  it returns empty array.

and one question - Does this package supports a 6.8 laravel version and 7.2 php version?

[2020-09-22 12:01] DHeymann commented on #143
I've got the same error. Running Laravel 5.6 and PHP 7.2.10

[2020-09-22 13:23] TechTailor commented on #143
This package was last maintained during Laravel 5.4 with PHP v5.4. You cannot run this package on PHP7 as it will give you certain runtime exceptions.

Since this package is now abandoned, I will be forking it and creating a updated version with support for Laravel 8 sometime next weekend.

[2020-09-22 13:31] DHeymann commented on #143
Thanks - I understand. The only strange thing is that it worked for a very long time with the same PHP / Laravel version. The last deploy i did 2-3 weeks ago. Nothing has changed in the Laravel friendships code for 2 years. And we haven't changed anything relevant in our project either (just some css). but today i got this error (...Could not parse version constraint ~5.*: Invalid version string "

[2020-09-22 13:43] thijskuilman commented on #143
That's the weird thing for me as well. I've worked with this package about a week ago with the same development setup (PHP 7.3) and it worked fine until a few days ago.

[2020-09-22 13:43] TechTailor commented on #143
Ok. So since it was working fine until recently, I did quick google search and found a probable bug in composer that was reported ~2 weeks ago. Refer https://github.com/composer/composer/issues/9191

If you updated composer recently, run `composer selfupdate --rollback` and see if it fixes the issue.

[2020-09-22 13:51] DHeymann commented on #143
I will try this. Thank you

[2020-09-27 22:34] jwittekind commented on #143
Unfortunately i'm unexpectedly getting the same error:

[code]

Could you share your solution?

[2020-09-28 07:36] TechTailor commented on #143
Refer to my previous reply, if you havn't updated your PHP version recently, it most likely a composer bug, see if your composer was updated recently, if so do a rollback.

[2021-01-10 07:50] nabilahmed7 opened #145 "Method Illuminate\Events\Dispatcher::fire does not exist"
Kindly change this in an updated version as The fire() method is an alias to the dispatch() method. The renaming of this method started way back in the 5.3 to 5.4 upgrade, and is included in the upgrade guide:

https://laravel.com/docs/5.4/upgrade

Thanks as we can use this package fro laravel updated versions

[2021-03-19 03:36] DevKhris commented on #140
I have forked it and done some small changes and it works on L8, maybe i will maintain it

[2021-03-26 11:56] pkitatta commented on #140
@DevKhris Thank you sir. In the mean time I was using `multicaret/laravel-acquaintances` which seems to be identical in everything except the provider class name.

[2021-05-29 17:37] sloan58 commented on #145
I just submitted a PR for this.  Hopefully it's sufficient and will be merged.

[2021-05-29 17:38] sloan58 commented on #142
I just submitted a PR for this.  Hopefully it's sufficient and will be merged.

[2021-09-24 17:00] marcelleza8 commented on #145
Hi, i'm using laravel 8 and and hootlex/laravel-friendships ^1.0, and facing same problem, which version should i use from this package?

[2021-09-29 14:15] TechTailor commented on #145
This package has not been updated to support Laravel 8. The last supported version of Laravel is v5.3 I think.

-TT

[2022-05-12 16:57] #109 closed, assigned to nobody